/* Top-Level */

html,
body {
    color: white;
    background-color: black;
    font-family: 'Gotham', Arial, Helvetica, sans-serif
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:active {
    color: #ccff00;
    text-decoration: underline;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

/* Headings */

h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-family: 'Gotham Black', 'Arial Black', Arial;
    ;
    margin: 0;
}

/* Header */

header {
    flex: 0 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.nav-left a {
    font-family: 'Gotham Ultra', 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* background: linear-gradient(to bottom, #ff00ff, #ccff00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; */
    line-height: .75;
    padding: 20px;
}

.nav-left a:hover {
    text-decoration: none;
}

.nav-right a {
    font-family: 'Gotham', 'Arial Black', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-right: 50px;
    font-weight: 400;
    padding: 20px;
}

#last-nav {
    margin-right: 0px;
}

/* Sections */

main {
    display: flex;
    flex: 1 0 90%;
}

/* About */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.howdy {
    display: flex;
    align-items: center;
}

h2.howdy {
    font-size: 182px;
    line-height: 162px;
    font-weight: 800;
    font-family: Gotham Ultra;
    letter-spacing: 4px;
    background: linear-gradient(to bottom, #ff00ff, #ccff00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

p.bio {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2px;
    transform: scaleY(.95);
}

.about img {
    border-radius: 50%;
    width: 250px;
    /* border: 2.5px solid white; */
    margin: 0 30px;
    /* background: linear-gradient(to bottom, #ff00ff, #ccff00); */
    /* background-color: #ccff00; */
    /* background-color: #4B72FF; */
    /* background-color: #6600FF;
    background-color: #ff00ff; */
    background: linear-gradient(to bottom, #40c9ff, #e81cff);
    transition: transform 0.1s ease-in-out;
}

.about img:hover {
    /* transform: scale(1.1) rotate(10deg); */
    transform: scale(1.2);
    /* border: 2.5px solid white; */
}

/* Portfolio */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    color: #ffffff;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-weight: 500;
    background: linear-gradient(to bottom, #40c9ff, #e81cff);
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
    /* background-color: #4B72FF; */
    /* border: 2.5px solid white; */
}

.card-blue:hover {
    /* transform: scale(1.1) rotate(10deg); */
    transform: scale(1.2);
}

.card-pink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    color: #ffffff;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-weight: 500;
    background: linear-gradient(to bottom, #ff00ff, #ccff00);
    border-radius: 50%;
    transition: transform 0.1s ease-in-out;
    /* background-color: #ff00ff; */
    /* border: 2.5px solid white; */
}

.card-pink:hover {
    /* transform: scale(1.1) rotate(10deg); */
    transform: scale(1.2);
    /* border: 2.5px solid white; */
}

.portfolio h2 {
    font-size: 75px;
    font-family: 'Gotham Ultra', 'Arial Black', Arial;
    letter-spacing: 1px;
    /* color: #ccff00; */
}

.portfolio h3 {
    font-size: 30px;
    font-family: 'Gotham Black', 'Arial Black', Arial;
    color: #ffffff;
    line-height: 32px;
    margin-bottom: 15px;
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.portfolio-links {
    margin: 0;
}

.portfolio-links a {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
}

.portfolio-links a:hover {
    color: black;
    text-decoration: underline;
}

/* Resume */

.resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* .resume-image img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
} */

.resume-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
}

.resume-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
}

.resume-download h2 {
    font-size: 182px;
    /* line-height: 162px; */
    font-weight: 800;
    font-family: Gotham Ultra;
    letter-spacing: 4px;
    background: linear-gradient(to bottom, #ff00ff, #ccff00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.resume-skills h2 {
    font-size: 182px;
    /* line-height: 162px; */
    font-weight: 800;
    font-family: Gotham Ultra;
    letter-spacing: 4px;
    background: linear-gradient(to bottom, #40c9ff, #e81cff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.resume p {
    font-size: 30px;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact h2 {
    font-size: 80px;
    font-family: 'Gotham Ultra', 'Arial Black', Arial;
    color: #ccff00;
    /* background: linear-gradient(to bottom, #ff00ff, #ccff00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent; */
}

#contact-form {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.error-message {
    color: #ff00ff;
    font-size: 12px;
    display: none;
}

button[type="submit"] {
    background-color: #4B72FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-family: 'Gotham Black';
    text-transform: uppercase;
    font-size: 20px;
}

button[type="submit"]:hover {
    background-color: #6C0AFF;
}

.form-group {
    width: 100%;
}

#form-status {
    margin-top: 20px;
}

/* Footer */

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
}

.social-icons i {
    font-size: 32px;
    margin: 0 10px;
}

/* Media Queries */